.container {
    margin-top: 5px;
}

.gridContainer {
    display: grid;
    padding-bottom: 60px;
    grid-template: auto 6fr / 1fr 3fr 1fr;
    grid-template-areas:
        'leftSidebar title-description rightSidebar'
        'leftSidebar question rightSidebar';
}

.leftSidebar {
    grid-area: leftSidebar;
    width: 100%;
}

.title-description {
    grid-area: title-description;
}

.question {
    grid-area: question;
}

.rightSidebar {
    grid-area: rightSidebar;
}

.footer {
    width: 100%;
    position: fixed;
    bottom: 0;
}

.trashCan:hover {
    cursor: pointer;
    color: red;
}

.timer:focus {
    outline: none;
}
